#bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27px;

    background: #2e3440;
    border-top: 1px solid #4c566a;

    display: flex;
    align-items: center;
    padding: 0 12px;

    font-size: 12px;
    color: #d8dee9;
    box-sizing: border-box;
}
