nav {
    display: flex;
    background-color: #2e3440;
    height: 30px;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
    -webkit-app-region: drag;
    border-bottom: 1px solid #4c566a;
}

:not(nav) {
    -webkit-app-region: no-drag;
}

#buttons {
    display: flex;
    margin-left: auto;
    border: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    width: 40px;
    transition: backgorund-color 0.1s ease-in-out;
}

#close:hover {
    background-color: #434c5e;
}

#minimize:hover {
    background-color: #434c5e;
}

#maximize:hover {
    background-color: #434c5e;
}

p {
    font-family: "Poppins-SemiBold";
    text-align: center;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
