<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>idk</title>
        <link rel="stylesheet" href="styles/sidebar.css" />
        <link rel="stylesheet" href="styles/titlebar.css" />
        <link rel="stylesheet" href="styles/bottombar.css" />
        <link rel="stylesheet" href="styles/tabs.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav id="titlebar">
            <p style="color: white; font-family: &quot;Source Code Pro&quot;">
                Monide
            </p>
            <div id="buttons">
                <button id="minimize">
                    <i
                        class="fa-regular fa-window-minimize"
                        style="color: #ffffff"
                    ></i>
                </button>
                <button id="maximize">
                    <i
                        class="fa-solid fa-window-maximize"
                        style="color: #ffffff"
                    ></i>
                </button>
                <button id="close">
                    <i class="fa-solid fa-x" style="color: #ffffff"></i>
                </button>
            </div>
        </nav>
        <header id="tabs"></header>
        <div id="sidebar"></div>
        <footer id="bottom-bar"></footer>
    </body>
</html>
